{% extends "base.html" %}
{% block content %}
<h2>Lista de Productos</h2>
<a class="btn btn-primary" href="{% url 'create-product-view' %}">Agregar</a>
<table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Description</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <th scope="row"><a href="{% url 'update-product-view' product_id=product.id %}">{{product.id}}<a/></th>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
