{% extends "base.html" %}
{% block content %}
<h2>Lista de Productos</h2>



<table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Description</th>
      <th scope="col">Precio</th>
    </tr>
  </thead>
  <tbody>
  {% for product in products %}
    <tr>
      <th scope="row">{{product.id}}</th>
      <td>{{product.name}}</td>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}
